{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post"> 
        {% comment %} action 속성을 지정하지 않으면 현재 페이지의 URL이 디폴트 action으로 설정된다. {% endcomment %}
        {% csrf_token %}
        {{ form.as_p }} {% comment %} question_create 함수에서 전달한 QuestionForm의 객체 
        {{ form.as_p }}는 폼에 정의한 subject, content 속성에 해당하는 HTML 코드를 자동 생성{% endcomment %}
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}